@font-face {
  font-weight: 400;
  font-family: "Roboto";

  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";

  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";

  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  padding: 16px 30px;

  font: inherit;
  font-weight: 500;
  line-height: 17px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #dfdfdf;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn--red {
  color: #ffffff;

  background-color: #fb565a;
}

.btn--red:hover,
.btn--red:focus {
  background-color: #e74246;
}

.btn--red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.btn--green {
  color: #ffffff;

  background-color: #00ca74;
}

.btn--green:hover,
.btn--green:focus {
  background-color: #00bc6c;
}

.btn--green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.btn--yellow {
  color: #ffffff;

  background-color: #efc84a;
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: #eab534;
}

.btn--yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.btn__text {
  vertical-align: middle;
}

.close {
  width: 21px;
  height: 21px;

  font-size: 0;

  background-image: url("../img/svg/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.2;

  transition: all 0.3s;
}

.close:hover,
.close:focus {
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 116px;
  padding-bottom: 116px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.header {
  padding-top: 49px;

  background-color: #eeeeee;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo__link,
.logo__img {
  display: block;
}

.logo__link:hover,
.logo__link:focus {
  opacity: 0.8;
}

.logo__link:active {
  opacity: 0.3;
}

.custom-control__input:disabled + .custom-control__label {
  opacity: 0.3;
}

.nav,
.cart {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.nav-list__item {
  margin-right: 23px;
  margin-left: 23px;
}

.cart,
.nav-list__item {
  border-bottom: 2px solid transparent;
}

.nav-list__item--current,
.cart--current {
  border-color: #fb565a;
}

.nav-list__link,
.cart__link {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #000000;

  transition: color 0.3s;
}

.cart__link {
  position: relative;

  padding-left: 40px;
}

.cart__link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;

  display: inline-block;
  width: 15px;
  height: 15px;

  background-image: url("../img/svg/cart-icon.svg");
}

.nav-list__link:hover,
.nav-list__link:focus,
.cart__link:hover,
.cart__link:focus {
  color: #fb565a;
}

.nav-list__link:active,
.cart__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.feature {
  height: 430px;

  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.feature--scrupulously {
  background-image: url("../img/pictures/features/scrupulously.png");
  background-position: right 30px bottom;
}

.feature--mathematics {
  background-image: url("../img/pictures/features/mathematics.png");
}

.feature--night-work {
  background-image: url("../img/pictures/features/night-work.png");
}

.feature__title {
  max-width: 523px;
  margin-top: 78px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.feature__text {
  max-width: 410px;
  margin-top: 0;
  margin-bottom: 40px;
}

.feature__btn {
  min-width: 240px;
}

.slide-controls {
  margin: 0;
  padding-left: 0;

  list-style: none;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.slide-controls__item {
  display: inline-block;
  margin: 0 8.5px;
}

.slide-controls__btn {
  display: inline-block;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.features__hide-control:nth-of-type(1):checked ~ .slide-controls .slide-controls__item:nth-of-type(1) .slide-controls__btn,
.features__hide-control:nth-of-type(2):checked ~ .slide-controls .slide-controls__item:nth-of-type(2) .slide-controls__btn,
.features__hide-control:nth-of-type(3):checked ~ .slide-controls .slide-controls__item:nth-of-type(3) .slide-controls__btn {
  background-image: radial-gradient(#ffffff 2px, #c2c2c2 2px, #c2c2c2 4px, #ffffff 4px, #ffffff 100%);
}

.features {
  position: relative;

  height: 430px;
  overflow: hidden;

  background-color: #eeeeee;
}

.features-list {
  display: flex;
  width: 300%;
  margin: 0;
  padding-left: 0;

  list-style: none;

  transition: transform 0.5s;
}

.features-list__item {
  display: inline-block;
  width: 33.333333%;

  visibility: hidden;
  opacity: 0;

  transition: all 1s;
}

.features__hide-control:nth-of-type(1):checked ~ .features-list {
  transform: translateX(0);
}

.features__hide-control:nth-of-type(2):checked ~ .features-list {
  transform: translateX(-33.333333%);
}

.features__hide-control:nth-of-type(3):checked ~ .features-list {
  transform: translateX(-66.666666%);
}

.features__hide-control:nth-of-type(1):checked ~ .features-list .features-list__item:nth-child(1) {
  visibility: visible;
  opacity: 1;
}

.features__hide-control:nth-of-type(2):checked ~ .features-list .features-list__item:nth-child(2) {
  visibility: visible;
  opacity: 1;
}

.features__hide-control:nth-of-type(3):checked ~ .features-list .features-list__item:nth-child(3) {
  visibility: visible;
  opacity: 1;
}

.features__slide-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;

  transform: translateX(-50%);
}

.about {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 56px;

  border-bottom: 2px solid #eeeeee;
}

.about__text {
  max-width: 660px;
  padding-top: 34px;
}

.about__performance {
  max-width: 360px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 33px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about__desc {
  margin-top: 0;
  margin-bottom: 40px;
}

.orders__title,
.performance__title {
  margin-top: 0;
  margin-bottom: 24px;

  color: #000000;
  text-transform: uppercase;
}

.performance__title {
  padding-left: 17px;
}

.orders-list {
  margin-top: 0;
  padding-left: 0;

  list-style: none;
}

.orders-list__item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 35px;
}

.orders-list__item:last-child {
  margin-bottom: 0;
}

.orders-list__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  display: inline-block;
  width: 25px;
  height: 2px;

  background-color: #ef5358;
}

.performance::before {
  content: "";

  display: block;
  width: 100%;
  height: 208px;
  margin-bottom: 36px;

  background-image: url("../img/pictures/performance-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.figure-table {
  border-collapse: collapse;
  text-align: left;
}

.figure-table__th {
  width: 29%;
  padding: 0;
}

.figure-table__td {
  width: 29%;
  padding: 3px 0 0;

  line-height: 18px;
}

.percent {
  font-size: 45px;
  line-height: 78px;
  color: #000000;
}

.percent__unit {
  top: -0.55em;

  font-size: 60%;
}

.brands {
  padding-top: 45px;
  padding-bottom: 45px;

  border-bottom: 2px solid #eeeeee;
}

.brands-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.brands-list__item {
  display: flex;
  align-items: center;
}

.brands-list__item + .brands-list__item::before {
  content: "";

  display: inline-block;
  width: 2px;
  height: 52px;
  margin: 0 52px;

  background-color: #eeeeee;
}

.brand__link {
  display: block;

  line-height: 0;

  opacity: 0.2;

  transition: all 0.3s;
}

.brand__link:hover,
.brand__link:focus {
  opacity: 1;
}

.brand__link:active {
  opacity: 0.1;
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -80px;
  padding-left: 0;

  list-style: none;
}

.services-list__item {
  max-width: 300px;
  margin-bottom: 80px;
}

.service__img {
  margin-bottom: 18px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service__desc {
  margin-top: 0;
  margin-bottom: 32px;
}

.wrapper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrapper__filter {
  max-width: 260px;
}

.wrapper__content {
  flex: 1;
  margin-left: 140px;
}

.fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.fieldset__legend {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.search-form__fieldset {
  margin-bottom: 50px;
}

.map {
  position: relative;

  height: 416px;
}

.map__container {
  width: 100%;
  height: 100%;
}

.contacts {
  padding: 50px;

  background-color: #ffffff;
}

.map__contacts {
  position: absolute;
  top: 54px;

  max-width: 320px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts__address,
.contacts__phone {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

.contacts__address {
  margin-bottom: 15px;
}

.contacts__btn {
  width: 100%;
  margin-top: 34px;
}

.range-slider {
  padding: 40px 20px;

  background-color: #eeeeee;
}

.range-slider__wrapper {
  position: relative;

  height: 2px;

  background-color: #d7dcde;
}

.range-slider__line {
  width: 152px;
  height: 2px;

  background-color: #60cb75;
}

.range-slider__btn {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: #ffffff;
  background-image: radial-gradient(#aaabab 2px, #ffffff 2px, #ffffff 100%);
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
}

.range-slider__btn:nth-of-type(1) {
  left: 0;
}

.range-slider__btn:nth-of-type(2) {
  right: 0;
}

.input-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.range-field {
  text-transform: uppercase;
}

.range-field__input {
  font: inherit;

  background-color: #eeeeee;
  border: none;
}

.sorting {
  display: flex;
  margin-bottom: 60px;

  text-transform: uppercase;
}

.sorting__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.parameters,
.order-list {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.parameters__link,
.order-list__link {
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.parameters__link:hover,
.parameters__link:focus,
.order-list__link:hover,
.order-list__link:focus {
  opacity: 0.6;
}

.parameters__link:active,
.parameters__link--active,
.order-list__link:active,
.order-list__link--active {
  opacity: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;

  list-style: none;
}

.products__item {
  max-width: 360px;
  margin-bottom: 30px;
}

.product {
  border: 1px solid rgba(0, 1, 1, 0.1);
}

.product:hover,
.product:focus {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.product__wrapper {
  background-color: #eeeeee;
}

.product__title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.product__link {
  color: inherit;
}

.product__link:hover,
.product__link:focus {
  color: #fb565a;
}

.product__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__desc {
  line-height: 18px;
  color: #666666;
}

.pagination {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.footer {
  margin-top: 80px;
}

.footer__container {
  display: flex;
}

.footer__bottom {
  padding: 70px 0;
}

.footer__appeal {
  margin-left: 140px;
  padding-top: 6px;
}

.appeal__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.appeal__hint {
  margin: 0;

  line-height: 22px;
  color: #444444;
}

.socials {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.socials__item + .socials__item {
  margin-left: 12px;
}

.socials__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;

  font-size: 0;
  line-height: 0;
  color: #ffffff;

  background-color: #e1e1e1;
  border-radius: 50%;

  transition: all 0.3s;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #e74246;
}

.socials__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.socials__link::before {
  content: "";

  display: block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.3s;
}

.socials__link:active::before {
  opacity: 0.3;
}

.socials__link--vk::before {
  background-image: url("../img/svg/vk-icon.svg");
}

.socials__link--fb::before {
  background-image: url("../img/svg/fb-icon.svg");
}

.socials__link--in::before {
  background-image: url("../img/svg/insta-icon.svg");
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: none;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 20px 0;

  animation-fill-mode: forwards;
}

.modal:target,
.modal--show {
  display: flex;

  animation: bounceInDown 1s;
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: translate3d(0, -3000px, 0);
    opacity: 0;
  }

  60% {
    transform: translate3d(0, 25px, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.modal__content {
  position: relative;

  flex: 1;
  max-width: 960px;
  margin: auto;
  padding-top: 67px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 38px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal__close {
  position: absolute;
  top: 78px;
  right: 90px;
}

.form__wrapper {
  display: flex;
  margin-bottom: 31px;
}

.form__field {
  flex: 1;
}

.form__field + .form__field {
  margin-left: 40px;
}

.form__btn {
  min-width: 260px;
  margin-top: 47px;
}

.ipt__label {
  display: inline-block;
  margin-bottom: 9px;

  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.ipt__field {
  display: block;
  width: 100%;
  padding: 15px 12px 13px;

  font: inherit;
  line-height: 18px;
  color: rgb(68, 68, 68, 0.5);

  background-color: #ffffff;
  border: 2px solid #d7dcde;

  transition: all 0.3s;
}

.ipt--textarea .ipt__field {
  height: 118px;

  resize: none;
}

.ipt__field:hover {
  border-color: #b4b9bb;
}

.ipt__field:focus {
  color: #444444;

  border-color: #000000;
  outline: none;
}

.ipt__field--invalid {
  color: #e74246;

  border-color: #e74246;
}
