@font-face {
  font-weight: 400;
  font-family: "Roboto";

  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";

  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";

  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn--red {
  background-color: #fb565a;
}

.btn--red:hover,
.btn--red:focus {
  background-color: #e74246;
}

.btn--red:active {
  background-color: #d7373b;
}

.btn--green {
  background-color: #00ca74;
}

.btn--green:hover,
.btn--green:focus {
  background-color: #00bc6c;
}

.btn--green:active {
  background-color: #00aa62;
}

.btn--yellow {
  background-color: #efc84a;
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: #eab534;
}

.btn--yellow:active {
  background-color: #e5a722;
}

.btn--gray {
  color: #000000;

  background-color: #eeeeee;
}

.btn--gray:hover,
.btn--gray:focus {
  background-color: #dfdfdf;
}

.btn--gray:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.title {
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 116px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.header {
  margin-bottom: 18px;

  background-color: #eeeeee;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo__link:hover,
.logo__link:focus {
  opacity: 0.8;
}

.logo__link:active {
  opacity: 0.3;
}

.custom-control__input:disabled + .custom-control__label {
  opacity: 0.3;
}

.nav,
.cart {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
}

.nav-list__link,
.cart__link {
  color: #000000;
}

.nav-list__link:hover,
.nav-list__link:focus,
.cart__link:hover,
.cart__link:focus {
  color: #fb565a;
}

.nav-list__link:active,
.cart__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-list__link.nav-list__link--current::before {
  content: "";

  background-color: #fb565a;
}

.features {
  background-color: #eeeeee;
}

.features-list {
  list-style: none;
}

.feature__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slide-controls {
  list-style: none;
  font-size: 0;
}

.slide-controls__btn {
  display: inline-block;
  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

.features__hide-control:nth-of-type(1):checked ~ .slide-controls .slide-controls__item:nth-of-type(1) .slide-controls__btn,
.features__hide-control:nth-of-type(2):checked ~ .slide-controls .slide-controls__item:nth-of-type(2) .slide-controls__btn,
.features__hide-control:nth-of-type(3):checked ~ .slide-controls .slide-controls__item:nth-of-type(3) .slide-controls__btn {
  background-image: radial-gradient(#ffffff 2px, #c2c2c2 2px, #c2c2c2 4px, #ffffff 4px, #ffffff 100%);
}

.feature {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.feature--scrupulously {
  background-image: url("../img/pictures/features/scrupulously.png");
}

.feature--mathematics {
  background-image: url("../img/pictures/features/mathematics.png");
}

.feature--night-work {
  background-image: url("../img/pictures/features/night-work.png");
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.orders__title,
.performance__title {
  color: #000000;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.orders-list__item::before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;

  background-color: #ef5358;
}

.performance::before {
  content: "";

  display: block;
  width: 360px;
  height: 208px;

  background-image: url("../img/pictures/performance-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.figure-table__td {
  line-height: 18px;
}

.percent {
  font-size: 45px;
  line-height: 10.06px;
  color: #000000;
}

.percent__unit {
  top: -0.55em;

  font-size: 60%;
}

.brands-list {
  list-style: none;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.brands-list__item + .brands-list__item::before {
  content: "";

  display: inline-block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.brand__link {
  opacity: 0.2;
}

.brand__link:hover,
.brand__link:focus {
  opacity: 1;
}

.brand__link:active {
  opacity: 0.1;
}

.services {
  margin-bottom: 120px;
}

.services-list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.services-list__item {
  width: 300px;
}

.services-list__item + .services-list__item {
  margin-left: 100px;
}

.service__title {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
}

.wrapper__filter {
  width: 260px;
}

.wrapper__content {
  flex: 1;
  margin-left: 140px;
}

.fieldset {
  border: none;
}

.fieldset__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.contacts {
  background-color: #ffffff;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts__address,
.contacts__phone {
  font-style: normal;
  line-height: 18px;
  color: #666666;
}

.range-slider {
  padding: 40px 20px;

  background-color: #eeeeee;
}

.range-slider__wrapper {
  position: relative;

  height: 2px;

  background-color: #d7dcde;
}

.range-slider__line {
  width: 152px;
  height: 2px;

  background-color: #60cb75;
}

.range-slider__btn {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: #ffffff;
  background-image: radial-gradient(#aaabab 2px, #ffffff 2px, #ffffff 100%);
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
}

.range-slider__btn:nth-of-type(1) {
  left: 0;
}

.range-slider__btn:nth-of-type(2) {
  right: 0;
}

.input-list {
  list-style: none;
}

.range-field {
  text-transform: uppercase;
}

.range-field__input {
  font: inherit;

  background-color: #eeeeee;
  border: none;
}

.sorting {
  text-transform: uppercase;
}

.sorting__title {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.parameters,
.order-list {
  list-style: none;
}

.parameters__link,
.order-list__link {
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.parameters__link:hover,
.parameters__link:focus,
.order-list__link:hover,
.order-list__link:focus {
  opacity: 0.6;
}

.parameters__link:active,
.parameters__link--active,
.order-list__link:active,
.order-list__link--active {
  opacity: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-left: 0;

  list-style: none;
}

.products__item {
  width: 360px;
  margin-bottom: 30px;
}

.site {
  border: 1px solid rgba(0, 1, 1, 0.1);
}

.site:hover,
.site:focus {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.site__wrapper {
  background-color: #eeeeee;
}

.site__title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.site__link {
  color: inherit;
}

.site__link:hover,
.site__link:focus {
  color: #fb565a;
}

.site__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site__desc {
  line-height: 18px;
  color: #666666;
}

.pagination {
  list-style: none;
}

.footer__container {
  display: flex;
}

.footer__appeal {
  margin-left: 140px;
}

.appeal__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.appeal__hint {
  line-height: 22px;
  color: #444444;
}

.socials {
  list-style: none;
}

.socials__link {
  color: #ffffff;

  background-color: #e1e1e1;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #e74246;
}

.socials__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.modal {
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.ipt__label {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.ipt__field {
  display: block;

  font: inherit;
  line-height: 18px;
  color: rgb(68, 68, 68, 0.5);

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.ipt__field:hover {
  border-color: #b4b9bb;
}

.ipt__field:focus {
  color: #444444;

  border-color: #000000;
  outline: none;
}

.ipt__field--invalid {
  color: #e74246;

  border-color: #e74246;
}

.close {
  opacity: 0.2;
}

.close:hover,
.close:focus {
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}
